@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
a, a:visited {
  color: #222;
}
body {
  background: url(https://i.ibb.co/SmbdWG8/kitchen.jpg) center/cover;
  padding: 2rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
  h1 {
    font-size: 4.5rem;
    margin: 1rem 0 2rem;
    font-weight: 100;
    color: #222;
    text-shadow: 4px 2px 0 rgba(51, 51, 51, 0.452);
  }
  #inputSearch, #randomMeal {
    height: 2rem;
    width: 300px;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px #333;
    font-size: 1.2rem;
  }
  #inputSearch {
    transition: .2s ease;
  }
  #inputSearch:focus {
      background: black;
      color: white;
      font-weight: 400;
  }
  
  #randomMeal {
    margin: 0 0 2rem 1rem;
    background: linear-gradient(90deg, rgb(214, 214, 214) 0%, rgb(194, 194, 194) 100%);
    cursor: pointer;
    transition: .2s ease;
}
    #randomMeal:hover {
      filter: brightness(130%);
    }
  
  #results {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
  .noResult {
    font-size: 3rem;
    font-weight: 700;
  }
  .searchBox {
    flex: 1 0 18%;
    background: rgba(128, 128, 128, 0.4);
    margin: .5rem;
    padding: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px #333;
  }
  .searchBox  .description {
      font-weight: 600;
      margin: 1rem 0;
    }

    .searchBox img {
      width: 90%;
      max-width: 250px;
      border-radius: 30px;
      box-shadow: 0 4px 4px #222;
      margin-bottom: 1rem;
    }
    .searchBox a {
      display: inline-block;
    }
    .searchBox  i {
        font-size: 1.4rem;
      }
    

  
  .randomContainer {
    clip-path: polygon(50% 0%, 100% 2%, 100% 98%, 50% 100%, 0 98%, 0 2%);
    background: rgba(128, 128, 128, 0.4);
    margin-bottom: 1.5rem;
  }
    .randomContainer h2 {
      padding: 1.5rem 0 .5rem;
      font-size: 2.7rem;
      color: rgb(37, 37, 37);
      text-shadow: 4px 2px 0 rgba(51, 51, 51, 0.252);
    }
    .randomContainer .description {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    .randomContainer img {
      height: 450px;
      border-radius: 10px;
      box-shadow: 0 10px 10px #333;
    }
    .randomContainer p {
      padding: 2rem;
      font-weight: 700;
    }
    .randomContainer a {
      display: inline-block;
      font-size: 4rem;
      cursor: pointer;
      margin-bottom: 2rem;
      animation: move 6s linear infinite;
      color: rgb(66, 66, 66);
    }
    @keyframes move {
      0% {
        transform: scale(1);
      }
      38% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1);
      }
    }
  
